@import url("https://fonts.googleapis.com/css?family=Cutive|Nunito&display=swap");

body {
  margin: 0;
  padding: 0;
}

.login {
  background: #d56637;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-header-container {
  height: 20vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Cutive", serif;
  color: white;
}

.login-container {
  font-family: "Nunito", sans-serif;
  height: 80vh;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: fade-in 1s ease-in-out 0s;
}

.login-container div:nth-child(1) {
  background: rgb(61, 61, 61);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  /* border: 1px solid black; */
  padding: 10px 20px;
  border-radius: 10px;
}

.login-container h2 {
  text-align: center;
  font-size: 30px;
  color: white;
}

.login-container input {
  background: rgba(255, 255, 255, 0.3);
  display: block;
  margin-bottom: 10px;
  color: white;
}

.login-input {
  text-align: center;
  border: none;
  padding: 10px 100px;
  border-radius: 25px;
}

.login-container input::placeholder {
  color: white;
}

.button-group {
  display: grid;
  justify-content: center;
}

.login-container button {
  margin: 10px;
  color: white;
  background: #d56637;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
}

.login-container a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #d56637;
}

.card-container {
  text-align: center;
  display: block;
  height: 93vh;
  background: #d56637;
  overflow: scroll;
}
.card {
  opacity: 100%;
  margin: 10px;
  width: 18em;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  background: rgb(61, 61, 61);
  border-radius: 15px;
  padding: 10px 0;
  display: inline-block;
}

.card-header {
  text-align: center;
  font-family: "Cutive", serif;
  color: white;
  padding: 10px 0;
}

.card-image {
  width: 18em;
}

.card-button-container {
  text-align: center;
}

.card-button-container button {
  padding: 10px;
  border: none;
  border-radius: 50%;
  background: #d56637;
  color: white;
  margin: 5px;
  font-size: 17px;
  width: 40px;
  height: 40px;
}

.user-footer {
  display: flex;
  align-items: center;
  height: 7vh;
  position: fixed;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  background: white;
  color: #d56637;
  font-family: "Cutive", serif;
}

.user-footer img {
  border-radius: 25px;
}

.user-footer button,
p {
  display: inline-block;
}

.user-footer button {
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  background: #d56637;
  color: white;
  margin: 5px;
  font-size: 17px;
}

.swal2-popup,
.swal2-modal,
.swal2-show,
.swal2-title {
  font-family: "Nunito", serif;
}

.swal2-confirm {
  background: #d56637 !important;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
